body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
    color: white;
    margin-top: 50px;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    background-color: #fff;
    padding: 5px;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    cursor: pointer;
}

#lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

input {
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

/* This allows us to hide the board until the game starts */
.hidden {
    display: none !important;
}

#gameControls {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}